.btn-light {
    color: black;
    background-color: #fff;
    border-color: #eee;
}



   #container {
    height: 1000px; 
    width: auto;
    min-width: 510px; 
    max-width: auto; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;  
}

.bootstrap-select > .dropdown-toggle.bs-placeholder{
    color: black;
}
.signature{
     visibility: visible !important;
 }
 .contract_title{
     visibility: hidden;
 }
 @media print{
     .sidebar{
         visibility: hidden;
     }
     .footer{
         visibility: hidden;
     }
 }
 @media print{
     *{
         color:	#000000;
     }
 }
 @media print{
    .card
    {
        margin-top: 0px;
    }
     .mobile_btn{
         visibility: hidden;
     }
     .user-menu{
         visibility: hidden;
     }
     .page-title-box{
         visibility: hidden;
     }
     .logo img{
         visibility: hidden;
   
     }
     .header .header-left{

         height: 60px;
         padding: 0 20px;
         position: relative;
         text-align: center;
         width: 1000px !important;
         z-index: 1;
         transition: all 0.2s ease-in-out;
     }
     .page-header{
         visibility: hidden;
     }
     .page-wrapper{
         margin-left: 0px;
         color: black;
     }
     .card{
         border: none;
         
     }
     .tab-box{
         visibility: hidden;
     }
     .tab-pane{
         margin-top: -51px;
     }
     .signature{
         visibility: visible;
     }
     .contract_title{
         visibility: visible;
     }
 }
 @media print{
     .page-header{
         visibility: hidden;
         margin-bottom: -20px;
     }
 }
 @media print{
     .nav-tabs-bottom{
         visibility: hidden;
     }
 }
.dropdown-menu {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.dropdown-menu a {
overflow: hidden;
outline: none;
}

.bss-input
{
border:0;
margin:-3px;
padding:3px;
outline: none;
color: #000;
width: 99%;
}

.bss-input:hover
{
background-color: #f5f5f5;
}

.additem .check-mark
{
opacity: 0;
z-index: -1000;
}

.addnewicon {
position: relative;
padding: 4px;
margin: -8px;
padding-right: 50px;
margin-right: -50px;
color: #aaa;
}

.addnewicon:hover {
color: #222;
}



/* Chrome, Safari, Edge, Opera remove arrows/spinners*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}



/* add another option to select styles */
.dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
.dropdown-menu a {
   overflow: hidden;
   outline: none;
}
 
.bss-input
{
   border:20px;
   margin:-3px;
   padding:3px;
   outline: none;
   color: #000;
   width: 251px !important;
}
 
.bss-input:hover
{
   background-color: #f5f5f5;
}
 
.additem .check-mark
{
   opacity: 0;
   z-index: -1000;
}
 
.addnewicon {
   position: relative;
   padding: 4px;
   margin: -8px;
   padding-right: 50px;
   margin-right: -50px;
   color: #aaa;
}
 
.addnewicon:hover {
   color: #222;
}
.datepicker-orient-bottom
{
    right: 1156.625px !important;
    top: 723.359px !important;
    z-index: 10 !important;
    display: block !important;
}

.col-form-label
{
    font-size: 13px !important;
    font-weight: normal;
}
.hidden
{
 display: none;
}
.staffPhoto
{
    height: 120px;
    width: 120px;
  
}

.bootstrap-select>.dropdown-toggle.bs-placeholder
{
    height: 43px !important;
}

.bootstrap-select .dropdown-toggle
{
    height: 43px !important;
}
.vpd-input-group input {
    display: table-cell;
    border: 1px solid #ebedf2 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select2 
{
    width: 100% !important;
}
.font-medium
{
    font-size: 0.9rem !important;
}

#load-screen {
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
    opacity: 0.5;
    
    }
    
    
#loading {    
    width: 500px;
    height: 500px;
    margin: 10% auto;
    margin-top:270px;
    background: url(../../img/loader.gif);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.timesheet
{
    padding: 0px;
    height: 30px;
    text-align: center;
}

.table.custom-table > tbody > tr > td:first-child, .table.custom-table > thead > tr > th:first-child {
    padding-left: 10px;
    
}
.table.custom-table > tbody > tr > td, .table.custom-table > tbody > tr > th, .table.custom-table > tfoot > tr > td, .table.custom-table > tfoot > tr > th, .table.custom-table > thead > tr > td, .table.custom-table > thead > tr > th {
    padding: 10px 3px;
    vertical-align: middle;}

    